.body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    flex: 1;
}
.footerText{
    text-align: right;
    margin-top: 3px;
}
.header{
    display: flex;
    justify-content: space-around;
}
.spacer{
    margin: 20px;
}
.img{
    width: 120px;
}
.title{
    text-align: center;
}
.clientInfo{
    text-align: right;
    font-weight: 600;
}
/* General table styling */
.tableResponsive {
    overflow-x: auto;
 }
 table {
    width: 100%;
    border-collapse: collapse;
 }
 th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
 }
 /* Print styling */
 @media print {
    body {
        font-size: 12px;
        text-align: center;
    }
    .tableResponsive {
        overflow-x: visible;
    }
    table {
        width: 100%;
    }
    th, td {
        page-break-inside: avoid;
        border: 1px solid black; /* Ensure borders are visible on print */
    }
 }
 /* Screen size adjustments for responsiveness */
 @media screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }
    th {
        background-color: #f9f9f9; /* Optional: for better visibility */
    }
 }